
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

@import "~bootstrap-sass/assets/stylesheets/bootstrap-mincer";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font: 14px/1.42857 Helvetica Neue,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif;
}
